.Debtn{
    width: 100px;
    height: 25px;
    background-color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 0px;
    color: hsl(358, 79%, 66%);
}
@media screen and (max-width:376px) {
    .Debtn{
        top: 150px;
        left: -170px;
        width: 290px;
        display: flex;
        flex-direction: row;
    }
}